venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/


# Data outputs
data/processed/*.csv
data/processed/*.pkl
data/processed/*.png
data/processed/*.json
data/processed/*.txt